<div class="container mx-auto">
  <h1 class="font-mono mb-4 text-red-500">Home#index</h1>
  <p class="italic">Find me in app/views/home/index.html.erb</p>
  <p class="italic hover:not-italic">
    hello
  </p>
</div>
<div class="container mx-auto">
  hello
</div>
